nav{
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background-color: black;
    transition: 0.3s;
    box-sizing: border-box;
}

nav.visible {
    top: 0;
    translate: 0;
  }
 
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .nav-items > a {
    text-decoration: none;
    color: rgb(255 255 255 / 96%);
    height: 72px;
    display: grid;
    place-items: center;
  }
  
  .nav-items > a:hover {
    color: rgb(255 255 255 / 96%);
  }

  .logo{
    width: 72px;
  }
  