
.social{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.social-item{
    text-align: center;
   
}
.contatti {
    display: flex;
    flex-direction: column;

}

.struttura{
    display: flex;
    flex-direction: column;
}

.slog {
    display: flex;
    justify-content: center;
}

.slog p{
    font-size: 100px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .social{
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        padding: 50px;
    }
   }